*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin: auto;
}

.contain {
  width: 1535px;
  margin: auto;
  flex-shrink: 10;
  padding: 50px 80px;

}

.button {
  padding: 15px 31px 16px 31px;
  background-color: #0E8784;
  border: none;
  border-radius: 5px;
  font-family: 'Fraunces';
  font-weight: 900;
  color: white;
  transition: all 1s;
  &:hover {
    background-color: #0E8784;
    transform: scale(1.1);
  }
}
.facebook:hover {
  transition: 0.3s all;
  transform: scale(1.03);
  color: blue;
} .twiter:hover {
  transition: 0.3s all;
  transform: scale(1.03);
  color: rgb(81, 81, 255);
} .instagram:hover {
  transition: 0.3s all;
  transform: scale(1.03);
  color: rgb(255, 0, 0);
} 


