.intro__wrapper {
  padding: 4px;
}
.intro {
  border-radius: 10px;
  transition: 1s all;
  margin-top: 200px;
  background: url(/images/greatbgimg.png) no-repeat center/cover;
  &:hover {
    transition: 1s all;
    transform: scale(1.01);
    box-shadow: #585858 ;
  }
  &__div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;  
  }

  &__title {
  width: 40%;

  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */

  color: #FEFCF7;
  
  }

  &__text {

  width: 33%;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #FEFCF7;

  opacity: 0.8;
  }
}
@media only screen and (max-width: 500px) {
  .intro {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    background: url(/images/greatbgimg.png) no-repeat center/center;
    background-size: cover;

    &__div {
      width: 280px;
      height: 301px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 90%;
      padding: 20px 0 0 0;
    }
    &__title {
      font-family: 'Fraunces 9pt';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      color: #FEFCF7;
      width: 100%;
    }
    &__text {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #FEFCF7;
      mix-blend-mode: normal;
      opacity: 0.8;
      width: 100%;
    }

  }
}