.burger-box {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.burger {
  width: 16px;
  height: 3px;
  color: black;
  background-color: black;
  border: 1px solid black;
}
.navbar {
  position: fixed;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 999;
  .wraper {
    position: relative;
} & {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: white;
    transition: 0.3s ease;
} &-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &-items {
  height: 15px;
  transition: all 1s ease;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888F;

  &:hover {
    color: black;
    transform: scale(1.1);
  }
  }
  &-img {
    width: 236px;
    height: 26px; 
  }
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
@media only screen and (max-width: 500px) {
  body , .contain {
    padding: none !important;
  }
  .burger-box {
    display: flex;
  }
  .navbar {
    width: 100%;

    &-list {
      display: none;
    }
  }

}
