.about-header {
  position: fixed;
  background-color: white;
  margin: auto;
  width: 100%;
  top: 0px;
  z-index: 999;

  &-cont {
    position: relative;
    width: 100%;
    margin-bottom: 120px;
  }
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
  }
}
