.about-navbar {
  display: flex;
  align-items: center;
  background: url(/images/aboutbgimg.png) no-repeat center/cover;
  height: 450px;
  border-radius: 16px;

  &-cont {
    margin-top: 140px;
  }
  &-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 445px;
    height: 175px;
    margin-left: 65px;
    color: white;
  }
  &-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    color: #FEFCF7;
  }
  &-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
  }
}
@media only screen and (max-width : 500px) {
  .about-navbar {
    
    &-cont {
      margin-top: -80px;
    }
    &-box {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0px auto;
      padding: 0 20px;
    }
    &-title {
      width: 100%;
    }
    &-text {
      width: 100%;
    }
  }
}